<div class="justify-center">
  <div class="w-75">
    <div class="font-38 fw-7 text-center">
      {{ localization.pageTitle | localization }}
    </div>
    <div class="mt-5">
      <form class="mt-5 form" [formGroup]="form">
        <form-field [errorControl]="form.get('newPassword')" name="password">
          <label for="password" class="form-label fw-6">{{
            localization.passwordLabel | localization
          }}</label>
          <input
            type="password"
            [placeholder]="localization.passwordLabel | localization"
            formControlName="newPassword"
            class="form-control input"
            [type]="showPassword ? 'text' : 'password'"
            #inputf
          />
          <div class="form-append align-center">
            <img
              class="cursor"
              [src]="
                showPassword
                  ? 'assets/icons/eyeOpen.svg '
                  : 'assets/icons/eyeClose.svg '
              "
              (click)="
                showPassword = !showPassword;
                inputf.type = inputf.type == 'password' ? 'text' : 'password'
              "
            />
          </div>
        </form-field>

        <form-field
          [errorControl]="form.get('confirmPassword')"
          name="confirm password"
        >
          <label for="password" class="form-label fw-6">{{
            localization.confirmPasswordLabel | localization
          }}</label>
          <input
            type="password"
            [placeholder]="localization.confirmPasswordLabel | localization"
            formControlName="confirmPassword"
            class="form-control input"
            [type]="showPassword2 ? 'text' : 'password'"
            #inputf1
          />
          <div class="form-append align-center">
            <img
              class="cursor"
              [src]="
                showPassword2
                  ? 'assets/icons/eyeOpen.svg '
                  : 'assets/icons/eyeClose.svg '
              "
              (click)="
                showPassword2 = !showPassword2;
                inputf1.type = inputf1.type == 'password' ? 'text' : 'password'
              "
            />
          </div>
        </form-field>
        <!-- <form-field
          [errorControl]="form.get('confirmPassword')"
          name="confirm password"
          class="mt-4"
        >
          <label for="password" class="form-label fw-6">Confirm Password</label>
          <input type="password" id="confirmPassword" formControlName="confirmPassword" placeholder="Confirm Password"
            class="form-control input" #inputf2 [type]="showPassword2 ? 'text' : 'password'" />
          <div class="form-append align-center">
            <img class="cursor" [src]="
                showPassword2
                  ? 'assets/icons/eyeOpen.svg '
                  : 'assets/icons/eyeClose.svg '
              " (click)="
                showPassword2 = !showPassword2;
                (inputf2.type == 'password' ? 'text' : 'password')
              " />
          </div>
        </form-field> -->
      </form>
      <div class="text-center mt-5">
        <button
          class="theme-btn theme-bg-color white"
          (click)="resetPassword()"
        >
          {{ localization.btnTxt | localization }}
          <mat-spinner
            class="btn-spinner"
            *ngIf="isLoading"
            [diameter]="16"
            [strokeWidth]="2"
          >
          </mat-spinner>
        </button>
      </div>
    </div>
  </div>
</div>
