<div class="justify-center">
  <div class="mx-5">
    <div class="text-center font-38 fw-7">
      {{ localization.pageTitle | localization }}
    </div>
    <div class="text-center font-16 grey pt-4 title fw-5">
      {{ localization.description | localization }}
    </div>
    <div class="mt-5 jus">
      <form class="form ml-3 justify-center" [formGroup]="form">
        <div>
          <ng-otp-input
            (onInputChange)="onOtpChange($event)"
            [config]="inputConfig"
          ></ng-otp-input>
          <div
            class="error mt-2"
            *ngIf="form.get('activationCode')?.errors && isError"
          >
            {{ error(form.get("activationCode")?.errors) }}
          </div>
        </div>
      </form>
      <div class="mt-5 justify-between align-center">
        <div class="font-14 cursor l-grey fw-6" routerLink="../forget-password">
          {{ localization.backbtnTxt | localization }}
        </div>
        <button class="theme-btn theme-bg-color white" (click)="otpVerify()">
          {{ localization.btnTxt | localization }}
          <mat-spinner
            class="btn-spinner"
            *ngIf="isLoading"
            [diameter]="16"
            [strokeWidth]="2"
          ></mat-spinner>
        </button>
      </div>
    </div>
  </div>
</div>
